# Workflow derived from https://github.com/rstudio/shiny-workflows
#
# NOTE: This Shiny team GHA workflow is overkill for most R packages.
# For most R packages it is better to use https://github.com/r-lib/actions
on:
  push:
    branches: [main, rc-**]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 8 * * 1' # every monday

name: Package checks

jobs:
  website:
    uses: rstudio/shiny-workflows/.github/workflows/website.yaml@v1
  routine:
    uses: rstudio/shiny-workflows/.github/workflows/routine.yaml@v1
  R-CMD-check:
    uses: rstudio/shiny-workflows/.github/workflows/R-CMD-check.yaml@v1

  deploy-tutorials:
    name: Deploy tutorials
    if: github.repository == 'rstudio/sortable' && github.event_name == 'push'
    needs: R-CMD-check
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT:       ${{ secrets.GITHUB_TOKEN }}
      SHINYAPPS_NAME:   ${{ secrets.SHINYAPPS_NAME }}
      SHINYAPPS_TOKEN:  ${{ secrets.SHINYAPPS_TOKEN }}
      SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
    steps:
      - uses: actions/checkout@v2

      - uses: rstudio/shiny-workflows/setup-r-package@v1
        with:
          extra-packages: |
            remotes
            rsconnect
            glue
            withr

      - name: Install package from GitHub
        shell: Rscript {0}
        run:  |
          remotes::install_github("rstudio/sortable")

      - name: Deploy tutorials
        continue-on-error: true
        shell: Rscript {0}
        run: source("scripts/deploy_apps.R")

      - name: Returns a success even if the deployment step fails.
        needs: R-CMD-check
        run: exit 0
